.btn {
  padding: 1rem;
  color: theme('colors.secondary.300');
  margin: 0 auto;
  background-color: #fff;
}

.save-button {
  padding: 1rem;
  margin: 2rem auto 0 2rem;
  background: theme('colors.gradient.orange');
  color: theme('colors.dark.DEFAULT');
}

.add-button {
  padding: 1rem;
  margin: 2rem auto 0 2rem;
  background: theme('colors.gradient.purple');
  color: theme('colors.dark.DEFAULT');
}

.close-btn {
  padding: 0 3rem;
  min-height: 3rem;
  bottom: 4.1rem;
  background: theme('colors.gradient.dark');
  color: theme('colors.light.DEFAULT');
  position: relative;
}

.link-btn {
  @apply cursor-pointer whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium;

  &-primary {
    @apply text-light-200 hover:text-light bg-secondary-500 hover:bg-secondary-600;
  }

  &-secondary {
    @apply text-secondary-600 hover:text-secondary-500 bg-secondary-200 hover:bg-secondary-100;
  }
}

.menu-btn {
  @apply absolute h-11 w-11 top-[10px] ml-3 rounded-md transition-all duration-300 cursor-pointer flex items-center justify-center text-white bg-gray-400 dark:bg-gray-800 outline-none border-none focus:ring-0;
}
